@charset "utf-8";
html {
  box-sizing: border-box;
  color: #573001;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/bg01.png");
  background-repeat: repeat;
}
nav {
  display: flex;
  flex-direction: column;
}
ul, li {
  list-style: none;
}
a {
  text-decoration: none;
  color : inherit;
}
/* --- Start hamburger menu --- */
.nav-list-sp {
  display: none;
}
.menu-btn {
  display: none;
}
@media screen and (max-width: 1024px) {
  .menu-wrapper-sp {
    position: sticky;
    top: 150px;
    width: 100%;
    height: auto;
    z-index: 100;
  }
  .menu-btn {
    display: flex;
    flex-direction: column;
    height: 88px;
    width: 88px;
    position: absolute;
    top: 10px;
    right: 100px;
    border-radius: 50%;
    background-image: url("../img/button_img01.png");
    background-repeat: repeat;
    cursor: pointer;
    z-index: 20;
  }
  .menu-btn::after,.menu-btn::before {
    position: absolute;
    top: calc(50% - 2px);
    left: 28px;
    content: '';
    width: calc(100% / 2.75);
    height: 4px;
    display: block;
    background: #fff;
    border-radius: 0.5rem;
  }
  .menu-btn::before{  
    transform: translateY(-4px);
  }
  .menu-btn::after {
    transform: translateY(4px)
  }
  .menu-btn::after,
  .menu-btn::before {
    transition: transform .8s;
  }
  .menu-btn.is-active::before {
    transform: rotate(135deg);
  }
  .menu-btn.is-active::after {
    transform: rotate(-135deg);
  }
  .menu-text01 {
    visibility: visible;
    position: absolute;
    top: 100%;
    right: calc(100% / 3);
    transform: translateY(0px);
    transition: transform .8s;
  }
  .menu-text01.is-clicked {
    visibility: hidden;
    transform: translateY(-8px);
    transition: transform .8s ease-out;
  }
  .menu-text02 {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: 30%;
    transform: translateY(8px);
    transition: transform .8s;
  }
  .menu-text02.is-clicked {
    visibility: visible;
    transform: translateY(0px);
    transition: transform .8s ease-out;
  }
  .overlay-sp {
    visibility: hidden;
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background-color: rgb(255, 255, 255);
    z-index: 10;
    opacity: 0;
    pointer-events: none;
    transition: all .8s;
  }
  .overlay-sp.is-open {
    visibility: visible;
    opacity: 1;
    pointer-events: auto;
    transition: all .8s;
  }
  .nav-wrapper-sp {
    padding: 12rem 8rem;
  }
  .nav-list-sp {
    display: flex;
    flex-direction: column;
  }
  .nav-content-sp {
    display: flex;
    flex-direction: column;
    justify-content: start;
    padding: 0.5rem;
  }
  .nav-content-en-sp {
    padding-bottom: 0.8rem;
  }
}
@media screen and (max-width: 768px) {
  .menu-wrapper-sp {
    position: sticky;
    top: 30px;
    width: 100%;
    height: auto;
    z-index: 100;
  }
  .menu-btn {
    display: flex;
    flex-direction: column;
    height: 44px;
    width: 44px;
    position: absolute;
    top: 30px;
    right: 30px;
    border-radius: 50%;
    background-image: url("../img/button_img01.png");
    background-repeat: repeat;
    cursor: pointer;
    z-index: 20;
  }
  .menu-btn::after,.menu-btn::before {
    position: absolute;
    top: calc(50% - 1px);
    left: 14px;
    content: '';
    width: 16px;
    height: 2px;
    display: block;
    background: #fff;
    border-radius: 0.5rem;
  }
  .menu-text01 {
    visibility: visible;
    position: absolute;
    top: 100%;
    right: calc(100% / 7);
    transform: translateY(0px);
    transition: transform .8s;
  }
  .menu-text02 {
    visibility: hidden;
    position: absolute;
    top: 100%;
    right: calc(50% / 4);
    transform: translateY(8px);
    transition: transform .8s;
  }
}
/* --- Start header --- */
header {
  width: 100%;
  height: auto;
  position: relative;
  overflow: hidden;
}
.container {
  padding: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav-wrapper {
  width: 15%;
  height: auto;
  max-height: 60rem;
  display: flex;
  flex-direction: column;
  padding-right: 2.5rem;
}
.nav-brand {
  width: 100%;
  height: auto;
}
.nav-list {
  width: 100%;
  margin: 1.5rem 0;
}
.nav-list .nav-content img  {
  width: 90%;
  height: 90%;
}
.nav-item {
  padding: 0.5rem 0;
  text-align: center;
}
.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.kv-wrapper {
  width: 85%;
  height: 100%;
  max-height: 60rem;
  position: relative;
}
.kv-video {
  width: 100%;
  height: auto;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 2rem;
}
.kv-copy {
  position: absolute;
  width: 15%;
  height: 40%;
  top: -1.5rem;
  right: -1.5rem;
  z-index: 5;
  background-image: url('../img/bg02.png');
  background-repeat: repeat;
  border-radius: 0 2rem 0 2rem;
  display: flex;
  justify-content: center;
  /* padding: 3rem 2.5rem 3rem 3.5rem; */
  padding: 5% 3% 5% 4%;
}
.kv-copy img {
  width: 100%;
  height: auto;
}
.sns-wrapper {
  padding: 1rem 1rem; 
  display: flex;
  justify-content: end;
}
.sns-account {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0.5rem;
}
.sns-account-item {
  width: 0;
  height: 0;
  padding: 1rem;
}
.circle {
  width: 12rem;
  height: 12rem;
  background-image: url('../img/bg01.png');
  border-radius: 50%;
  position: absolute;
  bottom: 0rem;
  left: -2rem;
  z-index: 5;
  overflow: hidden;
}
.circle img {
  position: absolute;
  bottom: 20%;
  left: 20%;
  border-radius: 50%;
  transition-duration: 0.3s;
}
.circle img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}
.sns-wrapper-sp {
  display: none;
}
@media screen and (max-width: 1024px) {
  .container {
    padding: 2.5rem 4rem;
    margin: 0 auto 2rem auto;
    display: flex;
    align-items: center;
    justify-content: start; 
    flex-wrap: wrap;
  }
  .nav-wrapper {
    width: 35%;
    height: auto;
    padding: 1rem 0;
  }
  .nav-list {
    display: none;
  }
  .kv-wrapper {
    width: 100vw;
    height: auto;
    padding: 30% 0 0 8%; 
    margin: 0 calc(50% - 50vw);
    display: flex;
  }
  .kv-video {
    border-radius: 2rem 0 0 2rem;
  }
  .kv-copy {
    position: absolute;
    width: 50%;
    height: auto;
    top: 5%;
    left: 10%;
    display: block;
    padding: 0;
    background-image: none;
    background-repeat: none;
    border-radius: none;
    display: flex;
    flex-direction: column-reverse;
  }
  .kv-copy img {
    margin-bottom: 2.5rem;
  }
  .sns-wrapper {
    display: none;
  }
  .sns-wrapper-sp {
    width: 40%;
    padding: 1rem 0;
    display: flex;
    justify-content: end;
  }
  .sns-wrapper-sp img {
    width: 50%;
    height: auto;
  }
  .circle {
    display: none;
  }
}
@media screen and (max-width: 768px) {
  .container {
    padding: 1rem 1.5rem;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: start; 
  }
}
/* --- Start notice --- */
.notice-container {
  width: 100%;
  height: auto;
  padding: 0 5rem;
  margin: 0 auto;
}
.notice-wrapper {
  background-color: #fff;
  padding: 2rem 3rem;
  border-radius: 5rem;
  position: relative;
}
.notice-wrapper a {
  width: 100%;
  height: auto;
  display: inline-flex;
  justify-content: start;
  align-items: center;
  font-size: 90%;
}
.notice-title {
  width: 15%;
  height: auto;
  text-align: center;
  color: #fff;
  background-color: #f77567;
  border-radius: 5rem;
  padding: 1rem 0;
  margin-right: 1rem;
}
.notice-date {
  width: 10%;
  text-align: center;
  margin-right: 0.5rem;
}
.notice-content {
  text-decoration: underline;
  line-height: 2rem;
}
.notice-content p {
  margin-right: 1rem;
}
.notice-wrapper i {
  position: absolute;
  right: 5%;
  font-size: 80%;
}
@media screen and (max-width: 1024px) {
  .notice-container {
    margin: 5rem auto 0 auto;
  }
  .notice-wrapper {
    border-radius: 2rem;    
    padding: 3rem 3rem 5rem 3rem;
  }
  .notice-wrapper a {
    flex-wrap: wrap;
    font-size: 130%;
  }
  .notice-title {
    width: 30%;
  }
  .notice-date {
    width: 20%;
  }
  .notice-content{
    width: 100%;
    text-decoration: none;
    margin-top: 1.5rem;
  }
  .notice-wrapper i {
    position: absolute;
    right: 7%;
    bottom: 15%;
    color: #f46657;
  }
  .notice-wrapper i::after {
    content: '詳しく見る';
    margin-left: 0.5rem;
  }
}
@media screen and (max-width: 768px) {
  .notice-container {
    padding: 0 1.5rem;
  }
  .notice-wrapper {
    padding: 2rem 2rem 3rem 2rem;
  }
  .notice-wrapper a { 
    font-size: 70%;
  }
  .notice-title {
    width: 40%;
    padding: 0.5rem 0.8rem ;
  }
  .notice-date {
    width: 20%;
  }
  .notice-content{
    margin-top: 1rem;
    line-height: 1.3rem;
  }
  .notice-wrapper i {
    position: absolute;
    right: 10%;
    bottom: 15%;
    color: #f46657;
  }
}
/* --- Start section --- */
.sec-right {
  margin: 5rem 0;
  padding-left: 20%;
}
.sec-left {
  margin: 5rem 0;
  padding-right: 20%;
}
.sec-container-right{
  width: 100%;
  height: auto;
  display: flex;
}
.sec-container-left{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: row-reverse;
}
.sec-content {
  width: 40%;
  height: auto;
  margin-right: 3rem;
  position: relative;
}
.sec-main-copy, .sec-sub-copy {
  width: 100%;
  height: auto;
}
.sec-main-copy-left {
  width: auto;
  height: 50%;
}
.sec-main-copy img {
  width: 80%;
  height: 20%;
}
.sec-sub-copy {
  width: 100%;
  height: auto;
  position: relative;
}
.sec-sub-copy-ja {
  width: 7%;
  height: auto;
  position: absolute;
  top: -2.3rem;
  left: 1.5rem
}
.sec-sub-copy-left-ja {

}
.sec-sub-copy-en {
  width: 2%;
  height: auto;
  position: absolute;
  top: -2.3rem;
  left: 5rem
}
.sec-content-body {
  width: 65%;
  height: auto;
  margin-top: 3rem;
  margin-left: 7rem ;
}
.sec-content-body p{
  font-size: 0.8rem;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
}
.sec-picture {
  width: 60%;
}
.sec-picture-cook {
  width: 40%;
  border-radius: 2rem;
}
.sec-picture .sec-picture-right {
  width: 100%;
  border-radius: 2rem 0 0 2rem;
}
.sec-picture .sec-picture-left {
  width: 100%;
  border-radius: 0 2rem 2rem 0;
}
.show-detail {
  display: flex;
  justify-content: start;
  position: relative;
  margin: 2rem 0 0 7rem;
}
.show-button {
  background-image: url("../img/bg03.png");
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.show-text {
  position: absolute;
  top: 45%;
  left: 18%;
  font-size: 80%;
}

/* --- Start foter nav --- */
.footer-nav {
  width: 10rem;
  height: 5rem;
}
.footer-nav a p::before {
  content: "◀︎";
}
.footer-nav a {
  display: flex;
  justify-content: end;
  align-items: center;
}
/* --- Start footer --- */
footer {
  padding: 2.3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("../img/img01.png");
}
.copy-right {
  color: #fff;
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
}
