@charset "utf-8";
html {
  box-sizing: border-box;
  color: #573001;
}
body {
  font-family: Arial, Helvetica, sans-serif;
  background-image: url("../img/bg01.png");
  background-repeat: repeat;
}
nav {
  display: flex;
  flex-direction: column;
}
ul, ol {
  list-style: none;
}
a {
  text-decoration: none;
  color : inherit;
}
/* --- Start header --- */
header {
  width: 100%;
  height: auto;
}
.container {
  padding: 4rem;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
}
.nav-wrapper {
  width: 15%;
  height: auto;
  max-height: 60rem;
  display: flex;
  flex-direction: column;
  padding-right: 2.5rem;
}
.nav-brand img {
  width: 100%;
  height: auto;
}
.nav-list {
  width: 100%;
  margin: 1.5rem 0;
}
.nav-list .nav-content img  {
  width: 90%;
  height: 90%;
}
.nav-item {
  padding: 0.5rem 0;
  text-align: center;
}
.nav-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0.5rem;
}
.nav-content-ja {
  padding-bottom: 0.25rem;
}
.kv-wrapper {
  width: 85%;
  height: 100%;
  max-height: 60rem;
  position: relative;
}
.kv-video {
  width: 100%;
  height: auto;
  max-height: 50rem;
  object-fit: cover;
  border-radius: 2rem;
}
.kv-copy {
  position: absolute;
  width: 15%;
  height: 40%;
  top: -1.5rem;
  right: -1.5rem;
  z-index: 5;
  background-image: url('../img/bg02.png');
  background-repeat: repeat;
  border-radius: 0 2rem 0 2rem;
  display: flex;
  justify-content: center;
  padding: 3rem 2.5rem 3rem 3.5rem;
}
.sns-wrapper {
  padding: 1rem 1rem; 
  display: flex;
  justify-content: end;
}
.sns-account {
  display: flex;
  justify-content: space-evenly;
  padding-left: 0.5rem;
}
.sns-account-item {
  width: 0;
  height: 0;
  padding: 1rem;
}
.circle {
  width: 12rem;
  height: 12rem;
  background-image: url('../img/bg01.png');
  border-radius: 50%;
  position: absolute;
  bottom: 0rem;
  left: -2rem;
  z-index: 5;
  overflow: hidden;
}
.circle img {
  position: absolute;
  bottom: 20%;
  left: 20%;
  border-radius: 50%;
  transition-duration: 0.3s;
}
.circle img:hover {
  transform: scale(1.2);
  transition-duration: 0.3s;
}
/* --- Start notice --- */
.notice-container {
  width: 100%;
  height: auto;
  padding: 0 5rem;
  margin: 0 auto;
}
.notice-wrapper {
  background-color: #fff;
  padding: 2.5rem 3rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5rem;
}
.notice-title {
  width: 15%;
  height: 50%;
  text-align: center;
  color: #fff;
  background-color: #f77567;
  border-radius: 5rem;
  padding: 1rem;
  z-index: 5;
}
.notice-wrapper p i {
  margin-left: 10rem;
}
/* --- Start section right --- */
.sec-right {
  margin-top: 4rem;
  padding-left: 20%;
}
.sec-container-right {
  width: 100%;
  height: auto;
  display: flex;
}
.sec-content {
  width: 40%;
  height: auto;
  margin-right: 3rem;
  position: relative;
}
.sec-main-copy, .sec-sub-copy {
  width: 100%;
  height: auto;
}
.sec-main-copy img {
  width: 80%;
  height: 20%;
}
.sec-sub-copy {
  width: 100%;
  height: auto;
  position: relative;
}
.sec-sub-copy-ja {
  width: 7%;
  height: auto;
  position: absolute;
  top: -2.3rem;
  left: 1.5rem
}
.sec-sub-copy-en {
  width: 2%;
  height: auto;
  position: absolute;
  top: -2.3rem;
  left: 5rem
}
.sec-content-body {
  width: 65%;
  height: auto;
  margin-top: 3rem;
  margin-left: 7rem ;
}
.sec-content-body p{
  font-size: 0.8rem;
  line-height: 1.3rem;
  letter-spacing: 0.1rem;
}
.sec-picture {
  width: 60%;
}
.sec-picture img {
  width: 100%;
  border-radius: 2rem 0 0 2rem;
}
.show-detail {
  display: flex;
  justify-content: start;
  position: relative;
  margin: 2rem 0 0 7rem;
}
.show-button {
  background-image: url("../img/bg03.png");
  width: 4.5rem;
  height: 4.5rem;
  border-radius: 50%;
}
.show-text {
  position: absolute;
  top: 45%;
  left: 18%;
  font-size: 80%;
}
/* --- Start foter nav --- */
.footer-nav {
  width: 10rem;
  height: 5rem;
}
.footer-nav a p::before {
  content: "◀︎";
}
.footer-nav a {
  display: flex;
  justify-content: end;
  align-items: center;
}
/* --- Start footer --- */
footer {
  padding: 2.3rem;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  text-align: center;
  background-image: url("../img/img01.png");
}
.copy-right {
  color: #fff;
  font-size: 0.5rem;
  letter-spacing: 0.1rem;
}
